
/***********************
*   BASE STYLES        *
***********************/

body {
	background-color: black;
	min-height: 100vh;
}

body,
.flip-clock-label {
	color: tomato;
}

li {
	list-style: none;
}

label {
	font-size: 1.2em;
	padding: 0 0.5em 0.4em 0;
}

input {
	width: 25%;
	background-color: black;
	font-size: 1.6em;
	text-align: center;
	border-color: tomato;
	color: white;
	border-radius: 5px;
}

h3 {
	margin: 0;
	padding-bottom: 1em;
	text-decoration: underline;
}

.container {
	padding: 0 10px;
}

#header,
#footer {
	background-color: #313333;
	text-align: center;
}

#stage_name,
#streak {
	color: white;
	font-size: 2em;
}

#time_values {
	padding-bottom: 1em;
	padding-left: 0;
}

#time_values li {
	padding-bottom: 1em;
}

#alert {
	background-color: tomato;
	font-size: 1.5em;
	color: white;
	padding: 1.5em;
	border: solid white 1px;
	border-radius: 15px;
}

.info {
	padding-bottom: 1em;
}


button {
	background-color: tomato;
	color: white;
	border: 1px solid white;
	border-radius: 15px;
	font-size: 3em;
	padding: 0.3em;
	margin-bottom: 1em;
}

.hidden {
	display: none;
}

/***********************
*   FLEXBOX            *
***********************/

body,
#stage_info,
#time_values,
#time_values li {
	display: flex;
}

body,
#time_values,
#stage_info {
	flex-direction: column;
}

#time_values li {
	justify-content: center;
}

#time_values li label {
	align-self: center;
}

#stage_info {
	align-items: center;
}

.container {
	flex: 1;
}